{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ app.get_name }}{% endblock %}

{% block content %}

    <img src="/static/images/icons/{{ app.get_icon_url }}" alt="" style="float: left; padding: 10px 20px 10px 20px;">
    <h1>{{ app.get_name }}</h1>

    {{ app.get_summary }}

    {{ app.get_description }}


<div style="clear: both;"></div>
<br/>

<div id="galery">
  <a href="javascript:setBigScreenshot('http://alt.fedoraproject.org/pub/alt/screenshots/f22/624x351/gimp-58a77f2016f13148a1ec8f4ad5ca172a.png')"><img src="http://alt.fedoraproject.org/pub/alt/screenshots/f22/112x63/gimp-58a77f2016f13148a1ec8f4ad5ca172a.png" class="img-thumbnail" ></a>
  <a href="javascript:setBigScreenshot('http://alt.fedoraproject.org/pub/alt/screenshots/f22/624x351/gimp-596643f3909323b2596344d97de47fc8.png')"><img src="http://alt.fedoraproject.org/pub/alt/screenshots/f22/112x63/gimp-596643f3909323b2596344d97de47fc8.png" class="img-thumbnail"></a>
</div>
<br/>

<img src="http://alt.fedoraproject.org/pub/alt/screenshots/f22/624x351/gimp-58a77f2016f13148a1ec8f4ad5ca172a.png" id="big_screenshot">

<script>
function setBigScreenshot(url) {
  $("#big_screenshot").attr("src", url);
}
</script>

<div style="clear: both;"></div>
<br/>


    <div class="col-md-3">
      <a href="/category/graphics" class="btn btn-default category-link-btn">2DGraphics</a>
    </div>

    <div class="col-md-3">
      <a href="/category/graphics" class="btn btn-default category-link-btn">Graphics</a>
    </div>

    <div class="col-md-3">
      <a href="/category/graphics" class="btn btn-default category-link-btn">RasterGraphics</a>
    </div>

<div style="clear: both;"></div>


    <br/> <br/>
    Licence: GNU GPL <br/>
    Version: 2.8.14-1.fc22 <br/>
    Size: 40 MB <br/> 
    Developer: Gnome <br/>
    <a href="https://admin.fedoraproject.org/pkgdb/package/gimp/"> PkgDB </a> <br/>
    <a href="https://apps.fedoraproject.org/packages/gimp">Fedora packages</a>


{% endblock %}
