{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ app.get_name }}{% endblock %}

{% block content %}

    <div style="float: right; height: 150px; padding: 20px; ">
    <a href="javascript:alert('sudo dnf install {{ app.get_pkgname }}')" class="btn btn-primary"> {% trans "Install" %}</a>
    </div>

    <img src="/static/images/icons/{{ app.get_icon_url }}" alt="" style="float: left; padding: 10px 20px 10px 20px;"/>
    <h1>{{ app.get_name }}</h1>

    {{ app.get_summary }}


    <div style="clear: both;"></div>

    {% autoescape off %}{{ app.get_description }}{% endautoescape %}

    <div style="clear: both;"></div>

    <br/>

    {% if app.screenshots.count %}
    <div id="galery">
        {% for screenshot in app.screenshots.all %}
        <a href="javascript:setBigScreenshot('{{ screenshot.get_medium_thumbnail_image.image }}')"><img src="{{ screenshot.get_small_thumbnail_image.image }}" class="img-thumbnail"/></a>
        {% endfor %}
    </div>
    <br/>

    <img src="{{ app.screenshots.first.get_medium_thumbnail_image.image }}" id="big_screenshot"/>

    <script>
function setBigScreenshot(url) {
  $("#big_screenshot").attr("src", url);
}
    </script>

    <div style="clear: both;"></div>
    <br/>
    {% endif %}

    {% for cat in app.categories.all %}
    <div class="col-md-3">
        <a href="{{ cat.get_absolute_url }}" class="btn btn-default category-link-btn">{{ cat.get_name }}</a>
    </div>
    {% endfor %}

    <div style="clear: both;"></div>


    <br/> <br/>
    Licence: {{ app.project_license }}<br/>
    Version: {{ app.get_version }} <br/>
    Size: 40 MB <br/> 
    Developer: Gnome <br/>

    <a href="https://admin.fedoraproject.org/pkgdb/package/{{ app.get_pkgname }}/"> PkgDB </a> <br/>
    <a href="https://apps.fedoraproject.org/packages/{{ app.get_pkgname }}">Fedora packages</a> <br/>

    </br>

    <span class="social_links">
    <a data-provider="facebook" target="_blank" rel="nofollow" title="{% trans "Share on Facebook" %}" href="http://www.facebook.com/sharer.php?u={{ app.get_url }}" ><img alt="facebook" title="{% trans "Share on Facebook" %}" src="/static/images/social/facebook.png" /></a>
    <a data-provider="twitter" target="_blank" rel="nofollow" title="{% trans "Share on Twitter" %}" href="http://twitter.com/share?url={{ app.get_url }}&amp;text={{ app.get_name }}" ><img alt="twitter" title="{% trans "Share on Twitter" %}" src="/static/images/social/twitter.png" /></a>
    <a data-provider="google_plus" target="_blank" rel="nofollow" title="{% trans "Share on Google+" %}" href="https://plus.google.com/share?url={{ app.get_url }}"><img alt="google_plus" title="{% trans "Share on Google+" %}" src="/static/images/social/google_plus.png" /></a>
    <a data-provider="reddit" target="_blank" rel="nofollow" title="{% trans "Share on Reddit" %}" href="http://www.reddit.com/submit?url={{ app.get_url }}&amp;title={{ app.get_name }}"><img alt="reddit" title="{% trans "Share on Reddit" %}" src="/static/images/social/reddit.png" /></a>
    <a data-provider="pinterest" target="_blank" rel="nofollow" title="{% trans "Pin it with Pinterest" %}" href="http://pinterest.com/pin/create/button/?url={{ app.get_url }}&amp;media=&#038;description={{ app.get_name }}"><img alt="pinterest" title="{% trans "Pin it with Pinterest" %}" src="/static/images/social/pinterest.png" /></a>
    <a data-provider="linkedin" target="_blank" rel="nofollow" title="{% trans "Share on Linkedin" %}" href="http://www.linkedin.com/shareArticle?mini=true&#038;url={{ app.get_url }}&amp;title={{ app.get_name }}"><img alt="linkedin" title="{% trans "Share on Linkedin" %}" src="/static/images/social/linkedin.png" /></a>
    </span>

{% endblock %}
