{% extends "base.html" %}
{% load i18n %}

{% block title %}GIMP{% endblock %}

{% block content %}

    <h1> GNU Image Manipulation Program</h1>

Create images and edit photographs

<p>GIMP is an acronym for GNU Image Manipulation Program. It is a freely distributed program for such tasks as photo retouching, image composition and image authoring.</p><p>It has many capabilities. It can be used as a simple paint program, an expert quality photo retouching program, an online batch processing system, a mass production image renderer, an image format converter, etc.</p><p>GIMP is expandable and extensible. It is designed to be augmented with plug-ins and extensions to do just about anything. The advanced scripting interface allows everything from the simplest task to the most complex image manipulation procedures to be easily scripted. GIMP is available for Linux, Microsoft Windows and OS X.</p>


<div style="clear: both;"></div>
<br/>

<div id="galery">
<a href="http://alt.fedoraproject.org/pub/alt/screenshots/f22/624x351/gimp-596643f3909323b2596344d97de47fc8.png" data-lightbox="images" data-title="" ><img src="http://alt.fedoraproject.org/pub/alt/screenshots/f22/112x63/gimp-58a77f2016f13148a1ec8f4ad5ca172a.png" class="img-thumbnail" ></a>
<a href="http://alt.fedoraproject.org/pub/alt/screenshots/f22/624x351/gimp-58a77f2016f13148a1ec8f4ad5ca172a.png" data-lightbox="images" data-title="" ><img src="http://alt.fedoraproject.org/pub/alt/screenshots/f22/112x63/gimp-596643f3909323b2596344d97de47fc8.png" class="img-thumbnail" ></a>
<!--
<a href="{big}" data-lightbox="images" data-title="" ><img src="{thumb}" class="img-thumbnail" ></a>
-->
</div>

<img src="http://alt.fedoraproject.org/pub/alt/screenshots/f22/624x351/gimp-58a77f2016f13148a1ec8f4ad5ca172a.png">

<div style="clear: both;"></div>


    <div class="col-md-3">
      <a href="/category/graphics" class="btn btn-default category-link-btn">2DGraphics</a>
    </div>

    <div class="col-md-3">
      <a href="/category/graphics" class="btn btn-default category-link-btn">Graphics</a>
    </div>

    <div class="col-md-3">
      <a href="/category/graphics" class="btn btn-default category-link-btn">RasterGraphics</a>
    </div>

<div style="clear: both;"></div>


    <br/> <br/>
    Licence: GNU GPL <br/>
    Version: 2.8.14-1.fc22 <br/>
    <a href="https://admin.fedoraproject.org/pkgdb/package/gimp/"> PkgDB </a>
    <a href="https://apps.fedoraproject.org/packages/gimp">Fedora packages</a>


{% endblock %}
