{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Category" %} {{ category.get_name }} {% endblock %}

{% block content %}

    <h1>{% trans "Category" %} {{ category.get_name }}</h1>

    {% for app in category.desktops %}
    <div class="col-md-2 app-icon">
        <a class="btn btn-default" href="{{ app.get_absolute_url }}">
            <img src="/static/images/icons/{{ app.get_icon_url }}" alt=""/>
            <div name="title">{{ app.get_name }}</div>
        </a>
    </div>
    {% endfor %}

    <div style="clear: both;"></div>

{% endblock %}
