{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Category" %} Grapihcs{% endblock %}

{% block content %}

    <h1>{% trans "Category" %} {{ category.get_name }}</h1>


    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/qt5-linguist.png" alt="qt5-linguist-icon">
      <div name="title">Qt5 linguist</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/shotwell.png" alt="geary-icon">
      <div name="title">Shotwell</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/glade.png" alt="gtk-wave-icon">
      <div name="title">Glade</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/org.gnome.Weather.Application.png" alt="audacity-icon">
      <div name="title">Weather</div>
      </a>
    </div>

    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/gajim.png" alt="icon">
      <div name="title">Gajim</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/freecad.png" alt="geary-icon">
      <div name="title">Geary</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/firefox.png" alt="icon">
      <div name="title">Firefox</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/audacity.png" alt="icon">
      <div name="title">Audacity</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/datovka.png" alt="icon">
      <div name="title">Datovka</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/meld.png" alt="icon">
      <div name="title">Meld</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
        <img src="/static/images/icons/owncloud.png" alt="icon">
        <div name="title">OwnCloud</div>
    </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
        <img src="/static/images/icons/scratch.png" alt="icon">
        <div name="title">Scratch</div>
      </a>
    </div>

    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/qt5-linguist.png" alt="qt5-linguist-icon">
      <div name="title">Qt5 linguist</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/shotwell.png" alt="geary-icon">
      <div name="title">Shotwell</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/glade.png" alt="gtk-wave-icon">
      <div name="title">Glade</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/org.gnome.Weather.Application.png" alt="audacity-icon">
      <div name="title">Weather</div>
      </a>
    </div>

    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/gajim.png" alt="icon">
      <div name="title">Gajim</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/freecad.png" alt="geary-icon">
      <div name="title">Geary</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/firefox.png" alt="icon">
      <div name="title">Firefox</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/audacity.png" alt="icon">
      <div name="title">Audacity</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/datovka.png" alt="icon">
      <div name="title">Datovka</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/meld.png" alt="icon">
      <div name="title">Meld</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
        <img src="/static/images/icons/owncloud.png" alt="icon">
        <div name="title">OwnCloud</div>
    </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
        <img src="/static/images/icons/scratch.png" alt="icon">
        <div name="title">Scratch</div>
      </a>
    </div>

    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/qt5-linguist.png" alt="qt5-linguist-icon">
      <div name="title">Qt5 linguist</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/shotwell.png" alt="geary-icon">
      <div name="title">Shotwell</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/glade.png" alt="gtk-wave-icon">
      <div name="title">Glade</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/org.gnome.Weather.Application.png" alt="audacity-icon">
      <div name="title">Weather</div>
      </a>
    </div>

    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/gajim.png" alt="icon">
      <div name="title">Gajim</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/freecad.png" alt="geary-icon">
      <div name="title">Geary</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/firefox.png" alt="icon">
      <div name="title">Firefox</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/audacity.png" alt="icon">
      <div name="title">Audacity</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/datovka.png" alt="icon">
      <div name="title">Datovka</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/meld.png" alt="icon">
      <div name="title">Meld</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
        <img src="/static/images/icons/owncloud.png" alt="icon">
        <div name="title">OwnCloud</div>
    </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
        <img src="/static/images/icons/scratch.png" alt="icon">
        <div name="title">Scratch</div>
      </a>
    </div>

    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/qt5-linguist.png" alt="qt5-linguist-icon">
      <div name="title">Qt5 linguist</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/shotwell.png" alt="geary-icon">
      <div name="title">Shotwell</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/glade.png" alt="gtk-wave-icon">
      <div name="title">Glade</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/org.gnome.Weather.Application.png" alt="audacity-icon">
      <div name="title">Weather</div>
      </a>
    </div>

    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/gajim.png" alt="icon">
      <div name="title">Gajim</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/freecad.png" alt="geary-icon">
      <div name="title">Geary</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/firefox.png" alt="icon">
      <div name="title">Firefox</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/audacity.png" alt="icon">
      <div name="title">Audacity</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/datovka.png" alt="icon">
      <div name="title">Datovka</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
      <img src="/static/images/icons/meld.png" alt="icon">
      <div name="title">Meld</div>
      </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
        <img src="/static/images/icons/owncloud.png" alt="icon">
        <div name="title">OwnCloud</div>
    </a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-default" href="/apps/scratch">
        <img src="/static/images/icons/scratch.png" alt="icon">
        <div name="title">Scratch</div>
      </a>
    </div>



{% endblock %}
