{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Frequently Asked Questions" %}{% endblock %}

{% block content %}

<h1> {% trans "Frequently Asked Questions" %} </h1>

<h2> {% trans "Q: Can I install software directly ?" %} </h2>
<p>
  {% trans "No. Please use dnf or gnome-software instead." %}
</p>

<h2> {% trans "Q: Who is the consumer of this service?" %} </h2>
<p>
{% trans "Everyone including other Linux distributions, iOS, and Windows users." %}
</p>

<h2> {% trans "Q: Did you considered feature XYZ ?" %} </h2>
<p>
{% trans "Maybe. Please open the issue at github and tag it as enhancement " %}
</p>

<h2> {% trans "Q: Something is broken. What should I do ?" %} </h2>
<p>
{% trans "This software is in early stage of development. Bugs are in every piece of software. Maybe we don't know about this one. Please open an issue at github." %}
</p>

{% endblock %}
