{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Welcome to Fedora Software" %}{% endblock %}

{% block content %}

    <h1>{% trans "Featured apps" %}</h1>

    <a href="{{ featured_app.component.get_absolute_url }}" id="featured_app_href">
    <div id="carousel-featured" style="{{ featured_app.style }}">
        <div class="right-side">
            <h2>{{ featured_app.component.get_name }}</h2>
            <p>{{ featured_app.component.get_summary }}</p>
            {% autoescape off %}{{ featured_app.component.get_description }}{% endautoescape %}
        </div>
    </div>
    </a>


    <div style="clear: both;"></div>

    {% for component in highlight_apps %}
        {% include 'component-icon.html' %}
    {% endfor %}

    <div style="clear: both;"></div>

    <h1>{% trans "Categories" %}</h1>

    {% for cat in highlight_cats %}
    <div class="col-md-3">
        <a href="{{ cat.get_absolute_url }}" class="btn btn-default category-link-btn">{{ cat.get_name }}</a>
    </div>
    {% endfor %}

{% endblock %}
