body {
  background-color: #ececec;
  font-family: Cantarell,"Droid Sans",Verdana,sans-serif;
}


h1, h2, h3 {
  padding-top: 10px;
}

.container {
/*  background-color: #ffffff; */
}

.menu {
    background: linear-gradient(  #3c6eb4,  #294172 );
}

.menu .navbar-toggle {
    background: linear-gradient(  #3c6eb4,  #294172 );
}

.menu .navbar-form {
  border: 0;
  box-shadow: none;
}

.category-link-btn {
  margin-top: 5px;
  width: 100%;
}

.col-md-2 a.btn {
  margin-top: 5px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand > img {
  position: absolute;
  top: 2px;
  height: 45px;
}

#carousel-featured {
  height: 400px;
  margin-bottom: 60px;
  background-color: #777;
  overflow: none;
  padding: 20px;
  overflow: hidden;
  border-radius: 8px;
  background: linear-gradient(  rgba(60, 110 ,180, 0.4),  rgba(60, 110 ,180, 0.2));
  color: #000000;
  text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.8), -2px -2px 5px rgba(255, 255, 255, 1.0);
  vertical-align:middle;
}

#carousel-featured img {
  max-width: 50%;
  max-height: 400px;
  float: left;
  margin-top: -40px;
}

#carousel-featured .right-side {
  position:relative;
  left: 50%;
  width: 50%;
}

#carousel-featured h1 {
  float: right;
}

#big_screenshot {
  width: 624px;
  height: 351px;
}

.app-icon {
  height: 220px;
}

.app-icon img {
  width: 128px;
  height: 128px;
}


.app-icon a {
  height: 200px;
  display: block;
  width: 100%;
  word-wrap: break-word;
  white-space: normal;

}

a:hover#featured_app_href  {
  text-decoration: none;
}

a:hover#featured_app_href #carousel-featured {

}